.img-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background-color: var(--bg-card);
  border-width: 2px;
  border-color: var(--border);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card-title {
  color: var(--text-main);
}

.card-description {
  font-size: large;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
