:root {
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;

  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);

  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --text-main: #e2e8f0;
  --text-muted: #94a3b8;
  --accent: #2563eb;
  --accent-light: #38bdf8;
  --border: #334155;

  --navbar-height: 70px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;

    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
  }
}

body {
  margin-left: 200px;
  margin-right: 200px;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  font-weight: 600;
}

p {
  margin: 0;
  font-size: x-large;
  color: var(--text-muted);
}

li {
  font-size: large;
  color: var(--text-muted);
}

section {
  scroll-margin-top: 80px;
}
